<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <img src="images/buba.png" alt="pokemon" class="pokemon-img">

        <h1 class="pokemon-info">
            <span>1</span>
            <span>-</span>
            <span>bulbasaur</span>
        </h1>

        <div class="button-group">
            <input type="button" value="Prev &lt">
            <input type="button" value="Next &gt">
        </div>
            
        <img src="images/pokedex.png" alt="pokedex" class="pokedex">
    </main>
</body>
</html>