<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <main>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=pokedexOrdem[n].number%>.png" alt="pokemon" class="pokemon-img">

        <h1 class="pokemon-info">
            <span><%=pokedexOrdem[n].number%></span>
            <span>-</span>
            <span><%=pokedexOrdem[n].name%></span>
        </h1>

        <div class="button-group">
            <a href="/prev" class="button">Prev &lt</a>
            <a href="/next" class="button">Next &gt</a>
        </div>

        <img src="images/pokedex.png" draggable="false" alt="pokedex" class="pokedex">
    </main>

</body>

</html>